<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <link rel="stylesheet" href="{% static "css/festilist.css" %}"/>
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
    <div class="topbanner">
        <div class="topbannercontent container">
            {% block topbanner %}
            FestList
            {% endblock %}
        </div>
    </div>

    <div class="mainpagebackground">
        <div class="menu">
            {% block menu %}
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog/">Blog</a></li>
            </ul>
            {% endblock %}
        </div>
        <div class="mainwrapper container">
            {% block content %}The main content{% endblock %}
        </div>
    </div>
</body>
</html>
