<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <link rel="stylesheet" href="{% static "css/festilist.css" %}"/>
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="topbanner">
        {% block topbanner %}
        The top banner
        {% endblock %}
    <div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
