{% extends "base.html" %}

{% block title %}Festilist - Create your playlist{% endblock %}

{% block content %}
        <form class="form-horizontal" id="input_form" role="form" action="generate" method="post">{% csrf_token %}
          <div class="form-group">
            <label for="title">Playlist title:</label>
            <input type="text" name="title" class="form-control" id="title" placeholder="Title"/>
          </div>
          <div class="form-group">
            <label for="artists">Artists list:</label>
            <textarea rows="10" name="artists" class="form-control" id="artists" placeholder="Please enter one artist per line"></textarea>
          </div>
          <div class="row">
          <div class="col-md-5 form-group">
            <label for="nb_tracks" class="col-md-7 control-label">Number of tracks per artist</label>
                <div class="col-md-3">
                <select class="form-control" name="max_tracks" id="nb_tracks">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option selected="selected">5</option></option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
              </select></div>
          </div>
          <div class="col-md-6 form-group">
            <label for="max_length" class="col-md-10 control-label">Track length limit in minutes. Set it to 0 for no limit</label>
            <div class="col-md-2">
                <input type="text" name="max_length" class="form-control" id="max_length" value="10"/>
            </div>
          </div>
          </div>
          <div class="form-group">
            <label for="randomize">
              <input type="checkbox" name="randomize" id="randomize"/> Shuffle
            </label>
          </div>
          <button id="generate_link" type="submit" class="btn btn-primary">Playlist it!</button>
        </form>
        <div id="generate_processing" class="mycover">
            <p><i class="fa fa-cog fa-spin fa-2x"></i></p>
            <p id="status">Processing...</p>
        </div>
        <div id="generate_plst_result" class="mycover">
            <p>OK</p>
        </div>
        <script type="text/javascript">
        $(document).ready( function () {
            $('#generate_processing').hide();
            $('#generate_plst_result').hide();

            $('#input_form').validate(
             {
              rules: {
                title: {
                  minlength: 2,
                  required: true
                },
                artists: {
                  minlength: 1,
                  required: true
                },
                max_length: {
                  required: true,
                  number: true
                },
              },
              highlight: function(element) {
                $(element).parents('.form-group').removeClass('has-success').addClass('has-error');
              },
              success: function(element) {
                $(element).parents('.form-group').removeClass('has-error').addClass('has-success');
              }
             });

            $('#generate_link').click( function () {
                $('#input_form').slideUp('slow');
                $('#generate_processing').slideDown('slow');
                console.log( $('#input_form').serialize() );
                $.ajax( {
                    type: 'POST',
                    url: '/generate',
                    data: $('#input_form').serialize(),
                    dataType: 'json',
                    success: function( json ) {
                        $('#generate_processing').fadeOut('fast');
                        $('#generate_plst_result').fadeIn('fast');
                        $('#generate_plst_result').html(
                            "<p><a href=\"" + json["link"] + "\">Click here to check"
                            + " out your playlist " + json["title"] + "!</a></p>"
                        );
                        console.log('ran the success function');
                    },
                    error: function() {
                        console.log('running the fail function');
                        $('#generate_processing').fadeOut('fast');
                        window.location.replace("/500");
                    }
                } );
                return false;

            } );
            $('#generate_link').onclick = function() { return false; }
        } );
        </script>
{% endblock %}
