{% extends "base.html" %}

{% block title %}Festlist - Home{% endblock %}

{% block content %}
        <h1>Home</h1>
        <p>
            Ever had this feeling that you know 10% of the line ups of the festivals you're going to? Once there,
            either you discover great bands, or spend some time switching between stages.
        </p>
        <p>
            This app will helps you create seamlessly playlists for your upcoming festivals and gigs, based on the
            line up. You'll be able to listen to all the artists, discover the ones you don't know before
            the gig, and get to know a bit their music, to enjoy a bit more the live performance.
        </p>
        <h2>How does it work?</h2>
        <p>
            {explain here}
        </p>
{% endblock %}
