.mycover
{
    text-align: center;
}

.secondhalf
{
    color: #62a2d9;
}

.no-color-link  a, .no-color-link a:visited {
    color: inherit;
}

.footer
{
    margin-top: 20px;
}

.mypadding
{
    padding: 10px 20px 10px 20px;
}

