body
{
    color: #000000;
}

#topbanner
{
    font-family: 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    padding: .4em 10px .2em 10px;
    border-bottom: 2px solid #3497e5;
    color: #3497e5;
    text-align: center;
    background-color: #343434;
    width: 100%;
}

#topbannercontent
{
    width: 80%;
    margin: auto;
}

#sidebar
{
    background-color: #22ee66;
    width: 20%;
}

#mainpagebackground
{
    background-color: #d1d2d4;
    width: 100%;
    text-align: center;
}

#mainwrapper
{
    background-color: #FFFFFF;
    width: 80%;
    margin: auto;
}
